In [1]:
import pandas as pd
df = pd.read_csv('data.txt')
print(df.shape)
df.head()

(3701, 19)

,player,season,completions,passatt,passyards,passtds,ints,sacks,sackyards,rushatt,rushyards,rushtds,fumbles,touches,net%,ny/a,ypc,td:touch,to:touch
0,Joe Flacco,2013,24,35,251,1,0,2.0,14.0,4,7,0,1,41.0,0.648649,6.405405,1.75,0.024390,0.024390
1,Ben Roethlisberger,2013,28,44,257,2,0,0.0,0.0,1,11,0,0,45.0,0.636364,5.840909,11.00,0.044444,0.000000
2,Tony Romo,2013,23,32,225,1,0,2.0,17.0,1,-1,0,1,35.0,0.676471,6.117647,-1.00,0.028571,0.028571
3,Matthew Stafford,2013,22,35,330,3,2,1.0,10.0,1,8,0,1,37.0,0.611111,8.888889,8.00,0.081081,0.081081
4,Tom Brady,2013,34,50,344,3,0,3.0,20.0,2,0,0,2,55.0,0.641509,6.113208,0.00,0.054545,0.036364

In [2]:
# split into train/test
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df,
                                     test_size=0.2,
                                     stratify=df['player'],
                                     random_state=143)

labels = df['player'].unique()
y_col = 'player'
X_cols = ['touches', 'net%', 'ny/a', 'ypc', 'td:touch', 'to:touch']

X_train = df_train[X_cols]
X_test = df_test[X_cols]
y_train = df_train[y_col]
y_test = df_test[y_col]

labels

array(['Joe Flacco', 'Ben Roethlisberger', 'Tony Romo',
       'Matthew Stafford', 'Tom Brady', 'Ryan Fitzpatrick', 'Eli Manning',
       'Peyton Manning', 'Cam Newton', 'Carson Palmer', 'Philip Rivers',
       'Alex Smith', 'Drew Brees', 'Matt Ryan', 'Matt Cassel',
       'Andy Dalton', 'Matt Schaub', 'Russell Wilson', 'Jay Cutler',
       'Matt Hasselbeck', 'Michael Vick', 'Brett Favre', 'Aaron Rodgers'],
      dtype=object)